body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:azure;
}
header {
    background-color: #333;
    color:#f8c471;
    padding: 10px 0;
    text-align: center;
}
.header h1 {
    color: #ffffff;
    font-size: 36px;
    margin: 0;
}


nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Style for search bar */
.search-container {
    float: right;
}

.search-container input[type="text"] {
    padding: 6px;
    margin: 8px 0;
    font-size: 17px;
    border: none;
}

.search-container button {
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

/* Styling for the vases */
.vases-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.vases-container img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.vases-container img:hover {
    transform: scale(1.1);
}

/* Footer style */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Basic styling for page elements */
body {
    font-family: Arial, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Image hover effect */
.image-hover {
    position: relative;
    overflow: hidden;
}

.image-hover img {
    width: 100%;
    transition: transform 0.3s ease;
}

.image-hover:hover img {
    transform: scale(1.1);
}

/* Overlay text effect */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 15px;
}

.image-hover:hover .overlay {
    opacity: 1;
}
